[Unit]
Description=DF
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/dfservice.py
StandardInput=tty-force
Restart=always

[Install]
WantedBy=multi-user.target